<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href = "../static/index.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Merriweather:300,400" rel="stylesheet">
    <title>Tudongnghia.vn</title>
</head>
<body>
    <div id="result_root">
        <h1 id="result_greetings">Từ gần nghĩa của: {{ key_word}}</h1>
        <br>
        <form action="" method="POST">
            <input type="text" id="search_engine" name ="search_engine" method="GET" placeholder="Hoặc tìm từ đồng nghĩa với..." target="">
        </form>
    </div>
    <div class="symnonym_list">
            <ul class="custom-counter">
                {%for word in symnonyms%}    
                    <li>{{ word }}</li>
                {%endfor%}
            </ul>
        </div>

</body>
</html>